[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.18"
wagtail = "==2.7.2"
wagtailcodeblock = "==1.14.0.0"
gunicorn = "*"

[requires]
python_version = "3.6"
