{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags static %}

{% block body_class %}template-home{% endblock %}

{% block homepageheader %}<section class="s-pageheader s-pageheader--home">{% endblock %}

{% block featuredcontent %}
<div class="pageheader-content row">
            <div class="col-full">

                <div class="featured">

                  {% for post in mainfeatured %}
                    {% with post=post.specific %}

                    <div class="featured__column featured__column--big">
                      {% with post.main_image as main_image %}
                        {% image main_image fill-900x900 as featured_image%}

                        <div class="entry" style="background-image:url('{{ featured_image.url }}');">

                            <div class="entry__content">
                              {% with categories=post.categories.all %}
                                {% if categories %}
                                  {% for category in categories %}
                                <span class="entry__category"><a href="{% slugurl 'categories' %}?category={{ category }}">{{ category.name }}</a></span>
                                  {% endfor %}
                                {% endif %}
                              {% endwith %}
                                <h1><a href="{% pageurl post %}" title="">{{ post.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static "images/avatars/user-03.jpg" %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">Author</a></li>
                                        <li>{{ post.date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->
                        {% endwith %}
                    </div> <!-- end featured__big -->

                  {% endwith %}
                {% endfor %}

                {% for post in featuredpages %}
                  {% with post=post.specific %}
                    <div class="featured__column featured__column--small">


                      {% with post.main_image as main_image %}
                        {% image main_image fill-320x400 as featured_image%}
                        <div class="entry" style="background-image:url('{{ featured_image.url }}');">

                            <div class="entry__content">

                              {% with categories=post.categories.all %}
                                {% if categories %}
                                  {% for category in categories %}
                                <span class="entry__category"><a href="{% slugurl 'categories' %}?category={{ category }}">{{ category.name }}</a></span>
                                  {% endfor %}
                                {% endif %}
                              {% endwith %}


                                <h1><a href="{% pageurl post %}" title="">{{ post.title }}</a></h1>

                                <div class="entry__info">
                                    <a href="#0" class="entry__profile-pic">
                                        <img class="avatar" src="{% static "images/avatars/user-03.jpg" %}" alt="">
                                    </a>

                                    <ul class="entry__meta">
                                        <li><a href="#0">Author</a></li>
                                        <li>{{ post.date }}</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->


                        </div> <!-- end entry -->
                        {% endwith %}
                    </div> <!-- end featured__small -->
                    {% endwith %}
                  {% endfor %}
                </div> <!-- end featured -->

            </div> <!-- end col-full -->
        </div> <!-- end pageheader-content row -->
{% endblock %}

{% block homepageheaderend %}</section>{% endblock %}


{% block content %}

<section class="s-content">

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>

            {% for post in blogpages %}
              {% with post=post.specific %}

            <article class="masonry__brick entry format-standard" data-aos="fade-up">

                <div class="entry__thumb">
                    <a href="{% pageurl post %}" class="entry__thumb-link">
                      {% with post.main_image as main_image %}
                        {% image main_image fill-320x400 %}
                        {% endwith %}
                    </a>
                </div>

                <div class="entry__text">
                    <div class="entry__header">

                        <div class="entry__date">
                            <a href="{% pageurl post %}">{{ post.date }}</a>
                        </div>
                        <h1 class="entry__title"><a href="{% pageurl post %}">{{ post.title }}</a></h1>

                    </div>
                    <div class="entry__excerpt">
                        <p>
                            {{ post.intro }}</p>
                    </div>
                    {% if post.tags.all.count %}
                    <div class="entry__meta">
                        <span class="entry__meta-links">
                          {% for tag in post.tags.all %}
                            <a href="{% slugurl 'tags' %}?tag={{ tag }}">#{{ tag }}</a>
                          {% endfor %}
                        </span>
                    </div>
                    {% endif %}
                </div>

            </article> <!-- end article -->

          {% endwith %}
        {% endfor %}
      </div>
      </div>
      </div>
    </section>
{% endblock %}
