{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title_suffix %}
  {% if request.GET.category|length %}
    {{ request.GET.category }}
  {% else %}
    Not Found
  {% endif %}
{% endblock %}
{% block content %}

<!-- s-content
================================================== -->
<section class="s-content">

  <div class="row narrow">
      <div class="col-full s-content__header" data-aos="fade-up">
        {% if request.GET.category|length %}
          <h1>Category: {{ request.GET.category }}</h1>

          <p class="lead">We have the following posts related to <strong>{{ request.GET.category }}.</strong></p>
          {% else %}
            <h1>Uh oh..</h1>
            <p class="lead">We couldn't find the posts that You were looking for.</p>
        {% endif %}
      </div>
  </div>

  <div class="row masonry-wrap">
      <div class="masonry">

          <div class="grid-sizer"></div>

          {% for blogpage in blogpages %}

          <article class="masonry__brick entry format-standard" data-aos="fade-up">

              <div class="entry__thumb">
                  <a href="{% pageurl blogpage %}" class="entry__thumb-link">
                    {% with blogpage.main_image as main_image %}
                      {% image main_image fill-320x400 %}
                      {% endwith %}
                  </a>
              </div>

              <div class="entry__text">
                  <div class="entry__header">

                      <div class="entry__date">
                          <a href="{% pageurl blogpage %}">{{ blogpage.latest_revision_created_at }}</a>
                      </div>
                      <h1 class="entry__title"><a href="{% pageurl blogpage %}">{{ blogpage.title }}</a></h1>

                  </div>
                  <div class="entry__excerpt">
                      <p>
                          {{ blogpage.intro }}
                      </p>
                  </div>
                  {% if blogpage.tags.all.count %}
                  <div class="entry__meta">
                      <span class="entry__meta-links">
                        {% for tag in blogpage.tags.all %}
                          <a href="{% slugurl 'tags' %}?tag={{ tag }}">{{ tag }}</a>
                        {% endfor %}
                      </span>
                  </div>
                  {% endif %}
              </div>

          </article> <!-- end article -->

          {% endfor %}
        </div>
      </div>
  </section>

{% endblock %}
