{% load static wagtailcore_tags wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="Technology blog Nepal">
        <meta name="author" content="">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>

        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/haloblog.css' %}">
        <!-- CSS
        ================================================== -->
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="{% static "css/vendor.css" %}">
        <link rel="stylesheet" href="{% static "css/main.css" %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- script
        ================================================== -->
        <script src="{% static "js/modernizr.js" %}"></script>
        <script src="{% static "js/pace.min.js" %}"></script>

        <!-- favicons
        ================================================== -->
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
        <link rel="icon" href="{% static "favicon.ico" %}" type="image/x-icon">

      </head>

{% block navigation %}
{% endblock %}

<body class="{% block body_class %}{% endblock %}" id="top">
        {% wagtailuserbar 'top-left' %}

        <!-- pageheader
        ================================================== -->
        {% block homepageheader %}
          <div class="s-pageheader">
        {% endblock %}


            <header class="header">
                <div class="header__content row">

                    <div class="header__logo">
                        <a class="logo" href="/">
                             <img src="{% static "images/logo.png" %}" alt="Homepage">
                        </a>
                    </div> <!-- end header__logo -->

                    <!-- <ul class="header__social">
                        <li>
                            <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </li>
                    </ul> --> <!-- end header__social -->

                    <a class="header__search-trigger" href="#0"></a>

                    <div class="header__search">

                        <form role="search" method="get" class="header__search-form" action="{% url 'search' %}">
                            <label>
                                <span class="hide-content">Search for:</span>
                                <input type="search" class="search-field" placeholder="Type Keywords" value="{{ search_query }}" name="query" title="Search for:" autocomplete="off">
                            </label>
                            <input type="submit" class="search-submit" value="Search">
                        </form>

                        <a href="#0" title="Close Search" class="header__overlay-close">Close</a>

                    </div>  <!-- end header__search -->


                    <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                    <nav class="header__nav-wrap">

                        <h2 class="header__nav-heading h6">Site Navigation</h2>

                        <ul class="header__nav">
                            <li><a href="/" title="">Home</a></li>
                            {% for nav_category in  CATEGORIES %}
                              <li><a href="{% slugurl 'categories' %}?category={{ nav_category }}" title="">{{ nav_category }}</a></li>
                            {% endfor %}
                            <li><a href="{% slugurl 'about' %}" title="">About</a></li>

                        </ul> <!-- end header__nav -->

                        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                    </nav> <!-- end header__nav-wrap -->

                </div> <!-- header-content -->
            </header> <!-- header -->

            {% block featuredcontent %}{% endblock %}


          {% block homepageheaderend %}
        </div>
          {% endblock %}
          <!-- s-content
          ================================================== -->


              {% block content %}{% endblock %}



        <!-- s-extra
        ================================================== -->
        <section class="s-extra">



            <div class="row bottom tags-wrap">
                <div class="col-full tags">
                    <h3>Tags</h3>

                    <div class="tagcloud">
                      {% for tag in TAGS %}
                        <a href="{% slugurl 'tags' %}?tag={{ tag.tag }}">{{ tag.tag }}</a>
                      {% endfor %}
                    </div> <!-- end tagcloud -->
                </div> <!-- end tags -->
            </div> <!-- end tags-wrap -->

        </section> <!-- end s-extra -->

        <!-- s-footer
        ================================================== -->
        <footer class="s-footer">

            <div class="s-footer__main">
                <div class="row">

                    <div class="col-two md-four mob-full s-footer__sitelinks">

                        <h4>Quick Links</h4>

                        <ul class="s-footer__linklist">
                            <li><a href="/">Home</a></li>
                            {% for nav_category in  CATEGORIES %}
                              <li><a href="{% slugurl 'categories' %}?category={{ nav_category }}" title="">{{ nav_category }}</a></li>
                            {% endfor %}
                            <li><a href="{% slugurl 'about' %}">About</a></li>
                            <li><a href="#0">Contact</a></li>
                        </ul>

                    </div> <!-- end s-footer__sitelinks -->


                    <!-- <div class="col-two md-four mob-full s-footer__social">

                        <h4>Social</h4>

                        <ul class="s-footer__linklist">
                            <li><a href="#0">Facebook</a></li>
                            <li><a href="#0">Instagram</a></li>
                            <li><a href="#0">Twitter</a></li>
                            <li><a href="#0">Pinterest</a></li>
                            <li><a href="#0">Google+</a></li>
                            <li><a href="#0">LinkedIn</a></li>
                        </ul>

                    </div> -->
                    <!-- end s-footer__social -->

                    <div class="col-five md-full end s-footer__subscribe">

                        <h4>Our Newsletter</h4>

                        <p>Subscribe to our newsletter for updates on new posts.</p>

                        <div class="subscribe-form">

                            <form action="https://halo-mountain.us19.list-manage.com/subscribe/post?u=6f7c8f44fa9898cb7eb235bed&amp;id=d47346fbde" method="post" id="mc-embedded-subscribe-form"  name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                                <input type="email" value="" name="EMAIL" class=" required email" id="mce-email" placeholder="Email Address" required="">

                                <div id="mce-responses" class="clear">
                              		<div class="response" id="mce-error-response" style="display:none"></div>
                              		<div class="response" id="mce-success-response" style="display:none"></div>
                              	</div>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6f7c8f44fa9898cb7eb235bed_d47346fbde" tabindex="-1" value=""></div>
                                <input type="submit" name="subscribe" value="Subscribe" id="mc-embedded-subscribe">

                                <label for="mc-email" class="subscribe-message"></label>

                            </form>

                        </div>

                    </div> <!-- end s-footer__subscribe -->

                </div>
            </div> <!-- end s-footer__main -->

            <div class="s-footer__bottom">
                <div class="row">
                    <div class="col-full">
                        <div class="s-footer__copyright">
                            <span>© Copyright 2018</span>
                            <span>Halo Mountain</span>
                        </div>

                        <div class="go-top">
                            <a class="smoothscroll" title="Back to Top" href="#top"></a>
                        </div>
                    </div>
                </div>
            </div> <!-- end s-footer__bottom -->

        </footer> <!-- end s-footer -->

        <!-- preloader
        ================================================== -->
        <div id="preloader">
            <div id="loader">
                <div class="line-scale">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>

        <!-- Java Script
        ================================================== -->
        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/plugins.js" %}"></script>
        <script src="{% static "js/main.js" %}"></script>
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/haloblog.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>
